section.row.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .work-list {
        width: 45%;

        li {
            margin: 1em 0;
        }

        @include md {
            width: 90%;
        }
    }
}